/*<!-- styles for web design homework --> */



.navbar navbar-expand-md navbar-dark bg-dark{
    background: #34058a;
    padding: 20px;
    
}
.navbar li{
    background-color: #eb8c20;
    display: inline; 
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold; 
}
.navbar li a{
    text-decoration: none;
}
.box1{
    min-height: 500px;
    min-width: 300px;
    padding: 5px;
    margin: 5px;
    background-color: peachpuff;
}
.box2{
    max-height: 425px;
    max-width: 425px;
    padding: 10px;
    margin: 5px;
    background-color: peachpuff;
}