/*<!-- styles for web design homework --> */
.navbar navbar-expand-md navbar-dark bg-dark{
    background: #34058a;
    padding: 20px;
    
}

.navbar li{
    background-color: #eb8c20;
    display: inline; 
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold; 
}
.navbar li a{
    text-decoration: none;
}

.box1{
    min-height: 500px;
    min-width: 300px;
    padding: 10px;
    margin: 5px;
    background-color: peachpuff;
}
.box2{
    padding: 1px;
    margin: 1px;
    background-color: peachpuff;
}
img{
    padding: 5px;
}

.box_data{
    background-color: peachpuff;
    color: blueviolet;
    border: solid 2px black;

}
/* Here we define styles that will ONLY be applied at screen sizes below 760 pixels */
@media (max-width: 760px) {

        
    .box1 {
     background-color: darkgrey;
   } 
 
    .box2 {
   background-color: lightgrey;
   width: 400px;
   height: 600px;
   border: solid 2px black;
   } 
   
    .box_data {
       background-color: lightgrey;
       border: solid 2px black;  
   }
   footer {
     display: none;  
   }
}

@media (max-width: 600px) {
    
    .box1 {
     background-color: darkgrey;
   } 
 
    .box2 {
   background-color: lightgrey;
   border: solid 2px black;
   } 
   
    .box_data {
       background-color: lightgrey;
       width: 550px;
       border: solid 2px black;  
   }

   footer {
     display: none;  
   }

}
 